doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario  
            h1 Iniciar Sesión en UpTask 
            
            if locals.flash_messages
                .alertas 
                    each category in Object.keys(locals.flash_messages)
                        each error in flash_messages[category]
                            .alerta(class=`${category}`)
                                p= error

            form#form.caja.caja-login(method="POST" action="/account-login")
                .campo 
                    label(for="email") E-mail: 
                    input(type="email" name="email" placeholder="Ingresa tu email" value= email)
                .campo 
                    label(for="password") Password: 
                    input(type="password" name="password" placeholder="Ingresa tu password" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Iniciar Sesión")
                .campo.acciones
                    a(href="/account-create") ¿Aún no tienes cuenta?
                    a(href="/account-forgot-password") ¿Olvidaste tu contraseña?
        
        script(src='/dist/bundle.js')