doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= pageName 
            p Agrega tu email para reestablecer la contraseña

            if locals.flash_messages
                .alertas 
                    each category in Object.keys(locals.flash_messages)
                        each error in flash_messages[category]
                            .alerta(class=`${category}`)
                                p= error

            form.caja-login(method="POST" action="account-forgot-password")
                .campo
                    label(for="email") E-mail: 
                    input(type="email" name="email" placeholder="Ingresa tu email" value= email)
                .campo.enviar 
                    input.boton(type="submit" value="Reestablecer Password")
                .campo.acciones 
                    a(href="/account-login") Volver a Iniciar Sesión
