doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= pageName 
            p Coloca tu nuevo password

            if locals.flash_messages
                .alertas 
                    each category in Object.keys(locals.flash_messages)
                        each error in flash_messages[category]
                            .alerta(class=`${category}`)
                                p= error

            form.caja-login(method="POST")
                .campo
                    label(for="password") Password: 
                    input(type="password" name="password" placeholder="Ingresa tu nuevo password" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Actualizar Password")
