doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Reestablecer Password 
        p Hola, has solicitado reestablecer tu password. Por favor, haz click en el siguiente enlace para ello. 
        p Este enlace es temporal, por lo tanto si su tiempo expira deberás volver a solicitarlo.
        a(href=`${resetUrl}`) Ir a Reestablecer tu Password
        p Si no puedes acceder a este enlace, visita #{resetUrl}.
        p Si no has solicitado este mail, puedes ignorarlo.